@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
   display: flex;
   flex-direction: column;
   background-color:  hsl(0, 0%, 100%);
   padding: 18px;
   border-radius: 10px;
   width: 350px;
   border: 2px solid  hsl(0, 0%, 42%);
   box-shadow: 7px 7px;
}

.card img {
    border-radius: 6px;
}

.card .tag {
    margin: 15px 0;
    font-weight: 600;
    background-color: hsl(47, 88%, 63%);
    width: 80px;
    padding: 8px  11px;
    border-radius: 5px;
}

.card span {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.card h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color:  hsl(0, 0%, 42%);
    margin-bottom: 14px;
}

.card .user {
    display: flex;
    align-items: center;
}

.user img {
    margin-right: 10px;
    height: 70%;
}

.user p {
    color:  hsl(0, 0%, 7%);
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center; 
    margin-top: 20px;
}


.attribution a{ 
    color: hsl(228, 45%, 44%)
}

@media (max-width: 768px) {
    .card {
        width: 300px;
    }
}